$navColor: #212529;
$bodyColorMd: #4d575f;
$bodyColorSm: #546a63;
$tituloColor: #f7efd0;
$subtituloColor: #deb406;
$textoColor: #e4e4de;
$linkColor: #ab9331;
$parrafoColor: plateado;
$medidaTexto: 40px;
$medidaLogo: 50px;